.message {
color: #00cc22;
}

.imageAndText {
    color: #00cc22
}

.imageAndText img {
    color: #00cc22
}

.text {
    color: #00cc22
}

.text:after {

}

.name {

}

.messageText {
    color: #00cc22
}

.time {

}