.message {
color: #00cc22;
}

.imageAndText {
    color: #00cc22
}

.imageAndText img {
    color: #00cc22
}

.text {
    color: #00cc22
}

.text:after {
    color: #00cc22
}

.name {
    color: #00cc22
}

.messageText {
    color: #00cc22
}

.time {
    color: #00cc22
}