.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 400px;

}


.responseContainer {

}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
}

.text {
    color: #58ACFF;
}
.info {
}