.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {

}

.friendText {

}

.friendText:after {

}

.friendName {
color: #0066cc;
}

.friendMessageText {
    color: #0066cc;
}

.friendTime {
    color: #0066cc;
}
